<div class="footer_container">
  <div class="footer-inner-wrapper">
    <div class="footercon">
      <h1 class="heading-16">Top Themen</h1>
      <div class="footer_cat_con">
        <a href="#" class="link">Tech</a>
        <a href="#" class="link">Fashion</a>
        <a href="#" class="link">Home</a>
        <a href="#" class="link">Sport</a>
        <a href="#" class="link">Reisen</a>
        <a href="#" class="link">Business</a>
      </div>
    </div>
    <div class="footercon">
      <h1 class="heading-16">Informationen</h1>
      <a href="#" class="link">Impressum</a>
      <a href="#" class="link">Datenschutz</a>
    </div>
    <div class="footercon newsletter">
      <h1 class="heading-16">Newsletter</h1>
      <div class="newsletter-wrapper">
        <div class="form-block-2 w-form">
          <form id="email-form-2" name="email-form-2" data-name="Email Form 2">
            <input
              type="text"
              class="nl_field w-input"
              maxlength="256"
              name="desktop-newsletter-input"
              data-name="desktop-newsletter-input"
              placeholder="Deine E-Mail..."
              id="desktop-newsletter-input"
            />
          </form>
        </div>
        <div class="nl_btn" id="nl_btn_desktop">
          <h4 class="heading-2">Anmelden</h4>
        </div>
        <div class="nl-body">
          <div class="newsletter-input-mobile w-form">
            <form id="email-form-2" name="email-form-2" data-name="Email Form 2" class="form-2">
              <input
                type="text"
                class="nl_text_mobile w-input"
                maxlength="256"
                name="mobile-newsletter-input"
                data-name="mobile-newsletter-input"
                placeholder="Deine E-Mail..."
                id="mobile-newsletter-input"
              />
            </form>
          </div>
          <div class="nlicon">
            <img src="images/check-1.svg" loading="lazy" alt="" class="image-5" />
          </div>
        </div>
      </div>
      <div class="div-block-26">
        <p class="newsletter_status" id="nlStatusDesktop"></p>
      </div>
    </div>
  </div>
</div>