<div class="footer_container">
    <div class="footer-inner-wrapper">
      <div class="footercon">
        <h1 class="heading-16">Top Themen</h1>
        <div class="footer_cat_con">
          <a href="/" class="link">Tech</a>
          <a href="/" class="link">Fashion</a>
          <a href="/" class="link">Home</a>
          <a href="/" class="link">Sport</a>
          <a href="/" class="link">Reisen</a>
          <a href="/" class="link">Business</a>
        </div>
      </div>
      <div class="footercon">
        <h1 class="heading-16">Informationen</h1>
        <a href="/impressum" class="link">Impressum</a>
        <a href="/datenschutz" class="link">Datenschutz</a>
      </div>
    </div>
</div>