<div class="footer_container">
  <div class="footer-inner-wrapper">
    <div class="footercon newsletter">
      <h1 class="footerheading">Newsletter</h1>
      <h1 class="footersubheading">Verpasse keinen Deal</h1>
      <div class="newsletter-wrapper">
        <div class="form-block-2 w-form">
          <form id="email-form-2" style="width: 100%;" name="email-form-2" data-name="Email Form 2"><input type="text" class="nl_field w-input" maxlength="256" name="name-2" data-name="Name 2" placeholder="Deine E-Mail..." id="name-2"></form>
        </div>
        <div class="nl_btn">
          <h4 class="heading-2">Anmelden</h4>
        </div>
        <div class="nl-body">
          <div class="newsletter-input-mobile w-form">
            <form id="email-form-2" name="email-form-2" data-name="Email Form 2" class="form-2"><input type="text" class="nl_text_mobile w-input" maxlength="256" name="name-4" data-name="Name 4" placeholder="Deine E-Mail..." id="name-4"></form>
          </div>
          <div class="nlicon"><img src="images/check-1.svg" loading="lazy" alt="" class="image-5"></div>
        </div>
      </div>
      <div class="div-block-26">
        <p class="newsletter_status">Du wurdest erfolgreich angemeldet</p>
      </div>
      <div class="footer_cat_con">
        <a href="/" class="link">Technik</a>
        <div class="footer_divider"></div>
        <a href="/" class="link">Fashion</a>
        <div class="footer_divider"></div>
        <a href="/" class="link">Home</a>
      </div>
      <div class="footer_divider_hz"></div>
      <div class="footer_subinfo">
        <div class="div-block-29">
          <h1 class="footersubinfotext">Unsere Deals auch per App</h1>
          <div class="div-block-31">
            <a href="#" class="link-block-2 app w-inline-block"></a>
            <a href="#" class="link-block-2 play w-inline-block"></a>
          </div>
        </div>
        <div class="div-block-29">
          <h1 class="footersubinfotext">Folge uns auf Social Media</h1>
          <div class="div-block-31">
            <a href="#" class="link-block-2 facebook w-inline-block"></a>
            <a href="#" class="link-block-2 ig w-inline-block"></a>
            <a href="#" class="link-block-2 tw w-inline-block"></a>
          </div>
        </div>
      </div>
      <div class="footer_link_con">
        <a href="#" class="link">Datenschutz</a>
        <div class="footer_divider"></div>
        <a href="#" class="link">Kontakt</a>
        <div class="footer_divider"></div>
        <a href="#" class="link">Impressum</a>
      </div>
    </div>
  </div>
</div>