<div class="linkbox">
    <a href="#" class="link-block w-inline-block"></a>
    <a href="#" class="link-block ig w-inline-block"></a>
    <a href="#" class="link-block as w-inline-block"></a>
    <a href="#" class="link-block ps w-inline-block"></a>
</div>