
<div class="navbar">
    <div class="div-block-22">
        <a href="/deal/create" class="navitem hidden w-inline-block"
            ><img src="images/magnifying-glass.svg" loading="lazy" alt="" class="image-6 search"
        /></a>
        <a href="/company/create" class="navitem w-inline-block"
            ><img src="images/building.svg" loading="lazy" alt="" class="image-6"
        /></a>
        <a href="/newsletter" class="navitem w-inline-block"
            ><img src="images/email.png" loading="lazy" alt="" class="image-6"
        /></a>
        <a href="#" class="navitem w-inline-block"
            ><img src="images/gear-option.svg" loading="lazy" alt="" class="image-6 settings"
        /></a>
        <a href="#" class="navitem w-inline-block" id="doLogOut"
            ><img src="images/logout.svg" loading="lazy" alt="" class="image-6 logout"
        /></a>
    </div>
</div>

<script src="/js/handleLogOut.js"></script>