<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>TestForm</title>
	</head>
	<body>
		<form class="addForm">
			<div>
				<label>Title</label>
				<input type="text" name="titel" />
			</div>
			<div>
				<label>subTitle</label>
				<input type="text" name="subTitle" />
			</div>
			<div>
			<input type="date" name="date"
     			min="2018-01-01" max="9999-12-31">
			</div>
			<div>
				<label>Select your profile picture:</label>
				<input type="file" name="img" />
			</div>
			<div>
				<input type="submit" name="btn_upload_profile_pic" value="Upload" />
			</div>
		</form>

        <script src="/js/cookieHandler.js"></script>
		<script src="/js/handleFetch.js"></script>
		<script src="/js/handleDealAdd.js"></script>
	</body>
</html>
