<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Deals</title>
	</head>
	<body>
		<div class="deals">
			<div class="dealContainer"> </div>
		</div>

        <script src="/js/cookieHandler.js"></script>
		<script src="/js/handleFetch.js"></script>
		<script src="/js/dealSearch.js"></script>
	</body>
</html>
