<!DOCTYPE html>
<!--  This site was created in Webflow. http://www.webflow.com  -->
<!--  Last Published: Fri May 14 2021 09:11:56 GMT+0000 (Coordinated Universal Time)  -->
<html data-wf-page="609963462d95b5c1d204b829" data-wf-site="60969041812c1b8249b707b1">
	<head>
		<meta charset="utf-8" />
		<title>list</title>
		<meta content="list" property="og:title" />
		<meta content="list" property="twitter:title" />
		<meta content="width=device-width, initial-scale=1" name="viewport" />
		<meta content="Webflow" name="generator" />
		<link href="css/normalize.css" rel="stylesheet" type="text/css" />
		<link href="css/webflow.css" rel="stylesheet" type="text/css" />
		<link href="css/samy-6a64e1.webflow.css" rel="stylesheet" type="text/css" />
		<!-- [if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" type="text/javascript"></script><![endif] -->
		<script type="text/javascript">
			!(function (o, c) {
				var n = c.documentElement,
					t = ' w-mod-';
				(n.className += t + 'js'),
					('ontouchstart' in o || (o.DocumentTouch && c instanceof DocumentTouch)) &&
						(n.className += t + 'touch');
			})(window, document);
		</script>
		<link href="images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
		<link href="images/webclip.png" rel="apple-touch-icon" />
		<script>
			window.fbAsyncInit = function () {
				FB.init({
					appId: '200914365197172',
					cookie: true,
					xfbml: true,
					version: 'v10.0',
				});
				FB.AppEvents.logPageView();
			};
			(function (d, s, id) {
				var js,
					fjs = d.getElementsByTagName(s)[0];
				if (d.getElementById(id)) {
					return;
				}
				js = d.createElement(s);
				js.id = id;
				js.src = 'https://connect.facebook.net/en_US/sdk.js';
				fjs.parentNode.insertBefore(js, fjs);
			})(document, 'script', 'facebook-jssdk');
		</script>
	</head>
	<body class="body">
		<div class="navbar">
			<div class="div-block-22">
				<a href="#" class="navitem w-inline-block"
					><img src="images/magnifying-glass.svg" loading="lazy" alt="" class="image-6 search"
				/></a>
				<a href="#" class="navitem w-inline-block"
					><img src="images/building.svg" loading="lazy" alt="" class="image-6"
				/></a>
				<a href="#" class="navitem w-inline-block"
					><img src="images/hinzufugen.svg" loading="lazy" alt="" class="image-6"
				/></a>
				<a href="#" class="navitem w-inline-block"
					><img src="images/gear-option.svg" loading="lazy" alt="" class="image-6 settings"
				/></a>
				<a href="#" class="navitem w-inline-block"
					><img src="images/logout.svg" loading="lazy" alt="" class="image-6 logout"
				/></a>
			</div>
		</div>
		<div data-w-id="c731da98-37bb-d539-20cc-199361e3af44" class="div-block-15">
			<img src="images/menu.svg" loading="lazy" alt="" class="image-4" />
		</div>
		<div
			style="
				-webkit-transform: translate3d(-75vw, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
				-moz-transform: translate3d(-75vw, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
				-ms-transform: translate3d(-75vw, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
				transform: translate3d(-75vw, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
			"
			class="mobile_nav"
		>
			<div class="div-block-14">
				<div data-w-id="6af619a5-fe9f-1099-04da-dc3884a8699e" class="closebtn"></div>
			</div>
			<div class="cat_nav">
				<div class="cat_nav_item main">
					<div class="clickhandler"></div>
					<h5 class="heading">Alle</h5>
				</div>
				<div class="mobile_divider"></div>
				<div class="cat_nav_item">
					<div class="clickhandler"></div>
					<div class="div-block-3"></div>
					<h5 class="heading">Tech</h5>
				</div>
				<div class="mobile_divider"></div>
				<div class="cat_nav_item">
					<div class="clickhandler"></div>
					<div class="div-block-3"></div>
					<h5 class="heading">Fashion</h5>
				</div>
				<div class="mobile_divider"></div>
				<div class="cat_nav_item">
					<div class="clickhandler"></div>
					<div class="div-block-3"></div>
					<h5 class="heading">Home</h5>
				</div>
				<div class="mobile_divider"></div>
				<div class="cat_nav_item">
					<div class="clickhandler"></div>
					<div class="div-block-3"></div>
					<h5 class="heading">Sport</h5>
				</div>
				<div class="mobile_divider"></div>
				<div class="cat_nav_item">
					<div class="clickhandler"></div>
					<div class="div-block-3"></div>
					<h5 class="heading">Reisen</h5>
				</div>
				<div class="mobile_divider"></div>
				<div class="cat_nav_item">
					<div class="clickhandler"></div>
					<div class="div-block-3"></div>
					<h5 class="heading">Business</h5>
				</div>
			</div>
		</div>
		<div class="create_outer-wrapper hero">
			<div class="inner-wrapper create">
				<h1 class="heading-11">Neuer Deal</h1>
				<div class="form-block-3 w-form">
					<form id="dealForm" name="dealForm" data-name="dealForm" class="form-3">
						<div class="div-block-23">
							<div class="div-block-25">
								<input
									type="date"
									class="text-field left w-input"
									maxlength="256"
									name="date"
									data-name="Date"
									placeholder="Datum"
									id="date"
								/><input
									type="text"
									class="text-field right w-input"
									maxlength="256"
									name="time"
									data-name="Time"
									placeholder="Uhrzeit"
									id="time"
								/>
							</div>
							<div class="div-block-25">
								<input
									type="date"
									class="text-field left w-input"
									maxlength="256"
									name="down"
									data-name="Down"
									placeholder="Countdown(datum)"
									id="down"
								/><input
									type="text"
									class="text-field right w-input"
									maxlength="256"
									name="down_time"
									data-name="Down Time"
									placeholder="Countdown (Uhrzeit)"
									id="down_time"
								/>
							</div>
							<textarea
								placeholder="Titel"
								maxlength="5000"
								id="titel"
								name="titel"
								data-name="Titel"
								class="textarea w-input"
							></textarea
							><input
								type="text"
								class="text-field w-input"
								maxlength="256"
								name="subTitle"
								data-name="Sub Title"
								placeholder="Untertitel"
								id="subTitle"
							/><input
								type="text"
								class="text-field w-input"
								maxlength="256"
								name="code"
								data-name="Code"
								placeholder="Gutscheincode"
								id="code"
							/>
							<div class="w-embed">
								<fb:login-button
									scope="public_profile,email,instagram_basic,instagram_content_publish,pages_read_engagement,pages_show_list,pages_manage_posts,ads_management,business_management "
									onlogin="checkLoginState();"
								>
								</fb:login-button>
							</div>
						</div>
						<div class="div-block-24">
							<input
								type="file"
								class="text-field w-input"
								maxlength="256"
								name="img"
								data-name="Img"
								placeholder="Bild hochladen"
								id="img"
							/><select id="company" name="company" data-name="Company" class="select-field w-select">
								<option value="">Unternehmen</option>
								<option value="First">First Choice</option>
								<option value="Second">Second Choice</option>
								<option value="Third">Third Choice</option>
							</select>
							<div class="div-block-25">
								<input
									type="text"
									class="text-field left w-input"
									maxlength="256"
									name="price"
									data-name="Price"
									placeholder="Preis"
									id="price"
								/><input
									type="text"
									class="text-field right w-input"
									maxlength="256"
									name="oldPrice"
									data-name="Old Price"
									placeholder="Alter Preis"
									id="oldPrice"
								/>
							</div>
							<input
								type="text"
								class="text-field w-input"
								maxlength="256"
								name="afLink"
								data-name="Af Link"
								placeholder="Affiliate Link"
								id="afLink"
							/><select
								id="categorie"
								name="categorie"
								data-name="Categorie"
								class="select-field w-select"
							>
								<option value="">Categorie</option>
								<option value="Tech">Tech</option>
								<option value="Fashion">Fashion</option>
								<option value="Home">Home</option>
								<option value="Sport">Sport</option>
								<option value="Reisen">Reisen</option>
								<option value="Business">Business</option></select
							><label class="w-checkbox"
								><input
									type="checkbox"
									id="Facebook"
									name="Facebook"
									data-name="Facebook"
									class="w-checkbox-input checkbox"
								/><span for="Facebook" class="w-form-label">Facebook/Instagram</span></label
							><input
								type="submit"
								value="Veröffentlichen"
								class="create_company w-button"
								id="addDealBtn"
							/>
						</div>
					</form>
				</div>
				<div class="mobile-cat-wrapper">
					<div class="mobile-cat-item">
						<div class="clickhandler"></div>
						<h5 class="heading-10">Sport</h5>
					</div>
					<div class="mobile-cat-item">
						<div class="clickhandler"></div>
						<h5 class="heading-10">Tech</h5>
					</div>
					<div class="mobile-cat-item">
						<div class="clickhandler"></div>
						<h5 class="heading-10">Fashion</h5>
					</div>
					<div class="mobile-cat-item">
						<div class="clickhandler"></div>
						<h5 class="heading-10">Reisen</h5>
					</div>
				</div>
			</div>
		</div>
		<div class="outer-wrapper hero list">
			<div class="inner-wrapper hero">
				<h1 class="heading-12">Durchsuchen</h1>
				<div class="form-block w-form">
					<form id="search_form" name="wf-form-search_form" data-name="search_form" class="form">
						<div class="searchbar-top">
							<div class="div-block-2">
								<img src="images/loupe.svg" loading="lazy" alt="" class="image" />
							</div>
							<input
								type="text"
								class="dealsearchbar w-input"
								maxlength="256"
								name="dealKey"
								data-name="Deal Key"
								placeholder="Deal finden..."
								id="dealKey"
							/>
						</div>
					</form>
					<div class="w-form-done">
						<div>Thank you! Your submission has been received!</div>
					</div>
					<div class="w-form-fail">
						<div>Oops! Something went wrong while submitting the form.</div>
					</div>
				</div>
				<div class="mobile-cat-wrapper">
					<div class="mobile-cat-item">
						<div class="clickhandler"></div>
						<h5 class="heading-10">Sport</h5>
					</div>
					<div class="mobile-cat-item">
						<div class="clickhandler"></div>
						<h5 class="heading-10">Tech</h5>
					</div>
					<div class="mobile-cat-item">
						<div class="clickhandler"></div>
						<h5 class="heading-10">Fashion</h5>
					</div>
					<div class="mobile-cat-item">
						<div class="clickhandler"></div>
						<h5 class="heading-10">Reisen</h5>
					</div>
				</div>
				<div class="cat-wrapper">
					<div class="cat-item">
						<div class="clickhandler"></div>
						<h5 class="heading">Alle</h5>
					</div>
					<div class="cat-item">
						<div class="clickhandler"></div>
						<div class="div-block-3"></div>
						<h5 class="heading">Tech</h5>
					</div>
					<div class="cat-item">
						<div class="clickhandler"></div>
						<div class="div-block-3"></div>
						<h5 class="heading">Fashion</h5>
					</div>
					<div class="cat-item">
						<div class="clickhandler"></div>
						<div class="div-block-3"></div>
						<h5 class="heading">Home</h5>
					</div>
					<div class="cat-item">
						<div class="clickhandler"></div>
						<div class="div-block-3"></div>
						<h5 class="heading">Sport</h5>
					</div>
					<div class="cat-item">
						<div class="clickhandler"></div>
						<div class="div-block-3"></div>
						<h5 class="heading">Reisen</h5>
					</div>
					<div class="cat-item end">
						<div class="clickhandler"></div>
						<div class="div-block-3"></div>
						<h5 class="heading">Business</h5>
					</div>
				</div>
			</div>
		</div>
		<div class="outer-wrapper body">
			<div class="headingblock"></div>
			<div class="result-wrapper">
				<div class="result-item-admin">
					<div class="div-block-12">
						<img src="images/c349x211.png" loading="lazy" alt="" class="dealimg" />
						<div class="result-content">
							<div>
								<h6 class="result_time">24.04.2021 | 19.43 Uhr</h6>
								<h4 class="result_heading">Tablet PC Surface Pro 11</h4>
								<h4 class="subheading">2gb Ram | 16gb eMCP, WiFi, Android 10</h4>
							</div>
							<div class="div-block-6">
								<div class="div-block-7">
									<img
										src="images/DealSale-Logo.png"
										loading="lazy"
										sizes="(max-width: 479px) 100vw, (max-width: 991px) 128px, 165px"
										srcset="
											images/DealSale-Logo-p-500.png   500w,
											images/DealSale-Logo-p-800.png   800w,
											images/DealSale-Logo-p-1080.png 1080w,
											images/DealSale-Logo.png        1441w
										"
										alt=""
										class="result_company"
									/>
									<div class="result-meta">
										<div class="likebtncon">
											<h5 class="likeamount">1</h5>
											<img src="images/like.svg" loading="lazy" alt="" class="like_img" />
										</div>
										<div class="likebtncon">
											<h5 class="likeamount">1</h5>
											<img src="images/dislike.svg" loading="lazy" alt="" class="dislike_img" />
										</div>
									</div>
								</div>
								<div class="div-block-8">
									<h3 class="deal-price">199,90 €</h3>
									<div class="div-block-9">
										<h4 class="oldprice">299,90 €</h4>
										<h4 class="percentcalc">(-22%)</h4>
									</div>
									<div class="deletedealbtn">
										<h4 class="heading-8">Löschen</h4>
									</div>
									<div class="editdealbtn">
										<h4 class="heading-8">Bearbeiten</h4>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="div-block-13">
						<div class="result-meta">
							<div class="likebtncon">
								<h5 class="likeamount">1</h5>
								<img src="images/like.svg" loading="lazy" alt="" class="like_img" />
							</div>
							<div class="likebtncon">
								<h5 class="likeamount">1</h5>
								<img src="images/dislike.svg" loading="lazy" alt="" class="dislike_img" />
							</div>
						</div>
						<div class="todealbtn mobile">
							<h4 class="heading-8">Zum Deal</h4>
							<div class="div-block-11"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="js/jquery-3.6.0.min.js" type="text/javascript"></script>
		<script src="js/webflow.js" type="text/javascript"></script>

		<script src="/js/cookieHandler.js"></script>
		<script src="/js/handleFetch.js"></script>
		<script src="/js/timeHandler.js"></script>
		<script src="/js/handleDealAdd.js"></script>
		<script src="/js/dealSearch.js"></script>
		<script src="/js/renderDealsAdmin.js"></script>
		<!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
	</body>
</html>
