<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="Content-Security-Policy" content="default-src localhost:*" />
		<title>Login</title>
	</head>
	<body>
		<form class="lgForm">
			<div>
				<label>EMail</label>
				<input type="email" name="email" />
				<label>Password</label>
				<input type="password" name="password" />
			</div>
			<div>
				<input type="submit" name="btn_upload_profile_pic" value="Upload" />
			</div>
		</form>

		<script src="/js/cookieHandler.js"></script>
		<script src="/js/handleFetch.js"></script>
		<script src="/js/handleLogin.js"></script>
	</body>
</html>
